.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.form-control {
    color: #000000;
}

.menu-link {
    cursor: pointer;
}

div:where(.swal2-container).swal2-top,
div:where(.swal2-container).swal2-center,
div:where(.swal2-container).swal2-bottom {
    z-index: 99999;
}

/* Select 2 */

.select2-container {
    width: -webkit-fill-available !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d9dee3;
    border-radius: 4px;
    padding: 0.4375rem 1.875rem 0.4375rem 0.875rem;
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: revert;
}

#IPVisitante, #IDUsuarioEditor {
    display: none;
}

#logerror {
    color: red;
    text-align: center;
}

#mdlBuscarUsuario {
    display: none;
}